VITE_PROD_API_BASE_URL=https://api.lxyy.fun
VITE_LOCAL_API_BASE_URL=http://192.168.31.93:8000/
VITE_PROD_PASSPORT_URL=https://tool.lxyy.fun/passport/
VITE_LOCAL_PASSPORT_URL=
VITE_PROD_WECHAT_APP_ID=
VITE_LOCAL_WECHAT_APP_ID=
